<form 
  class="float-end text-decoration-none mx-1"
  action="/posts/<%= post._id %>/like"
  method="POST"
>
  <input type="text" name="redirectUrl" value="<%= title %>" hidden>
  <button 
    type="submit" 
    class="btn btn-primary btn-sm" 
    data-bs-toggle="tooltip" 
    data-bs-placement="top" 
    title="<%= post.likes.reduce((accum,like)=>accum+like.name+", ","") %>"
    >
    <i class="far fa-thumbs-up"></i>
    Like
    <%= post.likes.length %> 
  </button>
</form>