<% if (!user) { %>
  <link rel="stylesheet" href="/stylesheets/siwg.css">
<% } %>
</head>
<body>
  <nav class="container navbar-light" style="background-color: #e3f2fd;">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <ul
        class="nav col-12 col-lg-auto me-auto justify-content-center"
        style="font-size: 23px;"
      >
      <li class="d-flex align-items-center">
        <a href="/posts" class="text-decoration-none">
          <i class="fas fa-home"></i>
          Home
        </a>
      </li>
      <li class="d-flex align-items-center" style="padding-left: 15px;">
        <a href="/profiles" class="text-decoration-none">
          <i class="fas fa-users"></i>
          All Profiles
        </a>
      </li>
      <% if (user) { %>
        <li class="d-flex align-items-center ms-3 mb-2 mb-lg-0">
          <a href="/chatroom" class="text-decoration-none">
            <i class="fab fa-facebook-messenger"></i>
            Chat
          </a>
        </li>
      <% } %>
    </ul>
    <form action="/profiles/search" method="POST" class="d-flex align-items-center me-3">
      <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search User">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div class="text-end d-flex align-items-center">
      <% if (user) { %>
        <div id="profile-dropdown" class="dropdown text-end">
          <a 
            id="dropdownUser"
            href="#"
            class="d-block link-light text-decoration-none"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
              <img 
                class="rounded-circle avatar-img"
                src="<%= user.profile.avatar %>" 
                alt="Your avatar"
              >
          </a>
          <ul 
            class="dropdown-menu bg-success" 
            aria-labelledby="dropdownUser"
          >
            <li>
              <a 
                href="/profiles/<%= user.profile._id %>" 
                class="dropdown-item text-white"
              >
                My Profile
              </a>
            </li>
            <li><hr class="dropdown-divider text-white"></li>
            <li>
              <a 
                href="/auth/logout" 
                class="dropdown-item text-white"
              >
                Sign Out
              </a>
            </li>
          </ul>
        </div>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
