<% if (!user) { %>
  <link rel="stylesheet" href="/stylesheets/siwg.css">
<% } %>
</head>
<body>
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <div
      class="nav-brand d-flex flex-wrap align-items-center justify-content-center"
    >
    <div class="text-end d-flex align-items-center nav-brand">
        <div id="profile-dropdown" class="dropdown text-end">
          <a 
            id="dropdownUser"
            href="#"
            class="d-block link-light text-decoration-none"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
              <img 
                class="rounded-circle avatar-img"
                referrerpolicy="no-referrer"
                src="<%= user.profile.avatar %>" 
                style="width: 50px;"
                alt="Your avatar"
              >
          </a>
          <ul 
            class="dropdown-menu" 
            aria-labelledby="dropdownUser"
          >
            <li>
              <a 
                href="/profiles/<%= user.profile._id %>" 
                class="dropdown-item text-white"
              >
                My Profile
              </a>
            </li>
            <li>
              <a 
                href="/auth/logout" 
                class="dropdown-item text-white"
              >
                Sign Out
              </a>
            </li>
          </ul>
        </div>
    </div>
      <ul
        class="nav"
        style="font-size: 23px;"
      >
      <li class="nav-item">
        <a href="/posts" class="text-decoration-none">
          <i class="fas fa-home"></i>
          Home
        </a>
      </li>
      <li class="nav-item" style="padding-left: 15px;">
        <a href="/profiles" class="text-decoration-none">
          <i class="fas fa-users"></i>
          All Profiles
        </a>
      </li>
      <li class="nav-item" style="padding-left: 15px;">
        <a href="/chatroom" class="text-decoration-none">
          <i class="fab fa-facebook-messenger"></i>
          Chat
        </a>
      </li>
    </ul>
    <div class="d-flex" id="search-bar" style="padding-left: 15px;">
      <form action="/search" method="POST" class="d-flex align-items-center">
        <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search User">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
    </div>
    <style>
      @media screen and (min-width: 760px) {
        #search-bar{
          position: absolute;
          right: 0;
        }
      }
    </style>
    </div>
  </nav>
