<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main class="bg-light">
  <h2 class="mb-3 text-center">Profiles</h2>
  <%- include('../partials/profileCards') %> 
</main>

<%- include('../partials/footer') %>