<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>
<h3>Live Chat Room</h3>
<p>Users in the room:</p>
<% // Notice the <ul> here that we'll be appending chatroom users to! %>
<ul id="chatters"></ul>
<form  action="/chatroom" method="GET">
  <div class="mb-3 mx-5">
  <label for="recipient" class="form-label"> To:
    <input 
    type="text" 
    name="recipient" 
    placeholder="Pick a Profile" 
    class="form-control"
    id="username">
  </label>
</div>
<div class="mb-3 mx-5">
  <label for="message" class="form-label"> Message:
    <input class="form-control" id="message">
  </label>
</div>
  <button class="btn ms-5 btn-info" id="send_message">Send Message</button>
</form>

<% // Oh, this is gonna be COOL!  We're gonna display when someone is typing! %>
<p id="isTyping"></p>
<div id="chatroom"></div>
<% // This is where we'll loop over the chats with a forEach %>

<% // We need to bring in a JavaScript file for this!!! %>
<script src="/scripts/chat.js"></script>
<%- include('./partials/footer') %></input>