<%- include('./partials/html-head') %>
<div class="alert alert-warning" role="alert">
  <h2><%= error.status %></h2>  
</div>
<div class="alert alert-danger" role="alert">
  <pre><%= error.stack %></pre>
</div>
<%- include('./partials/footer') %>
