<%- include('./partials/html-head') %>


<main>
  <div class="card text-center">
    <div class="card-header">
      Sign In Please
    </div>
    <div class="card-body">
      <p class="card-text">You need to sign in first to access anything</p>
      <a href="/auth/google">
        <button type="submit">
          <span class="fa fa-google"></span> Sign in with Google
        </button>
      </a>
      
      <a href="/auth/facebook">
        <button type="submit">
          <span class="fa fa-facebook"></span> Sign in with Facebook
        </button>
      </a>
    </div>
  </div>
</main>

<%- include('./partials/footer') %>
