<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <div class="card text-center">
    <div class="card-header">
      Sign In Please
    </div>
    <div class="card-body">
      <p class="card-text">You need to sign in first to access anything</p>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    </div>
  </div>
</main>

<%- include('./partials/footer') %>
