<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main class="container"> 
    <div class="container">
      <h2 class="card-header">Write a Post</h2>
      <form action="/posts" method="POST" class="container d-flex flex-column">
        <div class="mb-3 mx-5">
          <label for="post-content" class="form-label">Post</label>
          <textarea onkeyup="toggleButton()" class="form-control" name="text" id="post-content" rows="5"></textarea>
        </div>
        <div class="mb-3 mx-5">
          <label for="title-input" class="form-label">Categories</label>
          <input 
            type="text" 
            class="form-control" 
            id="title-input"
            name="categories" 
            placeholder="Choose a category"
          >
        </div>
        <button class="btn btn-primary ms-5 submit-btn" type="submit" disabled>Post</button>
        </form>
    </div>
    <section>
    <div class="container py-5 px-3">
    <%- include('../partials/postCards') %> 
    </div>
  </section>
  </main>
  <%- include('../partials/footer') %>
  